{% extends "note/note_base.html" %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#inputLink input').blur(function(){
    $("#arxivLoading").show();
    var arxiv_id = $('#inputLink input').val();
    data = { arxiv_id : arxiv_id,}
    $.post(
      '{% url "paper_add" %}',
      data,
      function(res){
        console.log(res.author); // to delete
        $("#arxivLoading").hide();
        $('#arxivTitle').text('Title:' + res.title);
        $('#arxivId').text('id:' + res.identifier);
        $('#arxivAuthor').text('author:' + res.author);
        $('#arxivCat').text('category:' + res.category);
        $('#arxivSummary').text('abstract:' + res.summary);
        $("#arxivResult").show();
      }, 
      "json");
  });
});
</script>
{% endblock %}

{% block container %}
  <div class="col-lg-3" id="note-affix-component">
    <ul class="list-group">
      <li class="list-group-item list-group-head">{{user.nickname}}</li>
      <li class="list-group-item">Signed Up on:</li>
      <li class="list-group-item">Notes published:</li>
      <li class="list-group-item">Papers Marked:</li>
    </ul>
    <div class="list-group">
      <a href="{% url 'note_create' %}" class="list-group-item">Write a note</a>
      <!-- Button trigger modal -->
      <a data-toggle="modal" href="#addPaperModal" class="list-group-item">Add a paper</a>

      <!-- Modal -->
      <div class="modal fade" id="addPaperModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal" action="{% url 'paper_add' %}" method="POST" accept-charset="UTF-8">{% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Add a paper</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  {{ arXivLinkForm.email.errors }}
                  <div class="row">
                    <label for="inputLink" class="control-label col-lg-3"><h4>arXiv Link</h4></label>
                    <div class="col-lg-8" id="inputLink" >
                    {{ arXivLinkForm.arxiv_link }}
                    </div>
                  </div>
                </div><!--form-group-->
                <div id="arxivLoading" style="display: none; text-align:center">
                  <img src="{{ STATIC_URL }}img/ajax-loading.gif">
                </div>
                <div id="arxivResult" style="display:none">
                  <p id="arxivTitle"></p>
                  <p id="arxivId"></p>
                  <p id="arxivAuthor"></p>
                  <p id="arxivCat"></p>
                  <p id="arxivSummary"></p>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary pull-right" type="submit">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>
  </div>

  <div class="col-lg-9">
    <div class="list-group" id="paper-list">
      <li class="list-group-item list-group-head">Papers</li>
      {% if not paper %}
      <h3> no papers yet, <a href="{% url 'paper_add' %}">add one now</a>.</h3>
      {% endif %}
      {% for item in paper %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-lg-9">
            <h4>{{item.title}}</h4>
          </div>
          <div class="col-lg-3">
            <h2 class="pull-right">
              <a href="{% url 'paper_detail' item.id%}" class="paper-detail">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </h2>
          </div>
        </div>
      </li>
      {% endfor %}
    </div>
  </div>
{% endblock %}